<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381061213373-a0m45b524fqp7cqgtakkghpsg95dm5l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381061213373-a0m45b524fqp7cqgtakkghpsg95dm5l4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxjvLuX9Hfun7MZALSehW9nI9IaJc74io</string>
	<key>GCM_SENDER_ID</key>
	<string>381061213373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>athar.AmirFlowers-2019</string>
	<key>PROJECT_ID</key>
	<string>amirflowers</string>
	<key>STORAGE_BUCKET</key>
	<string>amirflowers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381061213373:ios:3a913a3ce7000e6d</string>
	<key>DATABASE_URL</key>
	<string>https://amirflowers.firebaseio.com</string>
</dict>
</plist>